In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Churn_Modelling.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()

0

In [10]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [12]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [15]:
df.groupby('Gender')['Exited'].sum()

Gender
Female    1139
Male       898
Name: Exited, dtype: int64

In [26]:
df.groupby(['Gender','Geography'])['Exited'].sum()

Gender  Geography
Female  France       460
        Germany      448
        Spain        231
Male    France       350
        Germany      366
        Spain        182
Name: Exited, dtype: int64

In [27]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [29]:
df.drop(columns = ['RowNumber','CustomerId','Surname'],inplace = True)

In [32]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [33]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

In [35]:
from sklearn.model_selection import train_test_split

X = df.drop(columns = ['Exited'])
y = df['Exited']

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size = 0.2,random_state = 1)

In [38]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.transform(X_test)

In [40]:
pd.DataFrame(X_train_scaled)

,0,1,2,3,4,5,6,7,8,9,10
0,-0.230820,-0.944500,-0.701742,0.588173,0.802257,-1.553374,0.977259,0.427394,1.714901,-0.572731,0.915091
1,-0.251509,-0.944500,-0.355203,0.469849,0.802257,-1.553374,-1.023271,-1.025487,-0.583124,-0.572731,-1.092788
2,-0.396330,0.774987,0.337876,0.858788,-0.911510,0.643760,0.977259,-0.944798,1.714901,-0.572731,-1.092788
3,-0.044622,1.252622,0.337876,0.565604,0.802257,-1.553374,0.977259,-0.551946,1.714901,-0.572731,-1.092788
4,0.658795,-0.562392,1.030954,0.730395,-0.911510,-1.553374,-1.023271,1.083383,-0.583124,1.746019,0.915091
...,...,...,...,...,...,...,...,...,...,...,...
7995,-0.303231,0.774987,0.684415,0.495439,-0.911510,0.643760,0.977259,-0.579180,1.714901,-0.572731,0.915091
7996,0.348464,2.303420,-0.701742,0.076679,-0.911510,0.643760,-1.023271,-0.529780,1.714901,-0.572731,-1.092788
7997,0.224332,0.583933,1.377494,-1.225992,-0.911510,0.643760,0.977259,-0.140969,-0.583124,-0.572731,-1.092788
7998,0.131233,0.010771,1.030954,-1.225992,0.802257,0.643760,0.977259,0.017812,-0.583124,-0.572731,-1.092788
7999,1.165670,0.297352,0.337876,0.379955,-0.911510,0.643760,-1.023271,-1.158225,1.714901,-0.572731,0.915091

In [43]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [45]:
model = Sequential()

# Hideen layer with 11 input
model.add(Dense(3,activation = 'sigmoid',input_dim = 11))
model.add(Dense(1,activation = 'sigmoid'))

In [47]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 3)                 36

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 40 (160.00 Byte)
Trainable params: 40 (160.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [49]:
model.compile(loss='binary_crossentropy',optimizer='adam')

In [50]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
WARNING:tensorflow:From C:\Users\uday.sharma\AppData\Roaming\Python\Python311\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

250/250 [==============================] - 1s 1ms/step - loss: 0.7416
Epoch 2/10
250/250 [==============================] - 0s 926us/step - loss: 0.5960
Epoch 3/10
250/250 [==============================] - 0s 830us/step - loss: 0.5279
Epoch 4/10
250/250 [==============================] - 0s 827us/step - loss: 0.4972
Epoch 5/10
250/250 [==============================] - 0s 826us/step - loss: 0.4820
Epoch 6/10
250/250 [==============================] - 0s 807us/step - loss: 0.4724
Epoch 7/10
250/250 [==============================] - 0s 809us/step - loss: 0.4651
Epoch 8/10
250/250 [==============================] - 0s 975us/step - loss: 0.4587
Epoch 9/10
250/250 [==============================] - 0s 828us/step - loss: 0.4525
Epoch 10/10
250/250 [==============================] - 0s 817us/step - loss: 0.4463

In [53]:

# 1st layer 33 weights and 3 Bias
model.layers[0].get_weights()

[array([[-0.33333874, -0.19829097,  0.04563862],
        [ 0.6218667 , -1.4061062 , -1.7248892 ],
        [-0.16520607,  0.14025137, -0.0221028 ],
        [ 0.48943815, -0.533769  , -0.3410497 ],
        [-0.12335815,  0.4674248 ,  0.17560779],
        [ 0.32217562, -0.01282793,  0.02124861],
        [-0.5717467 ,  0.12215953,  0.98795104],
        [-0.22028285,  0.18352638, -0.1228382 ],
        [ 0.3476876 ,  0.09629396, -0.7377912 ],
        [-0.01533158,  0.31933442,  0.09300533],
        [-0.35371628,  0.26744878,  0.6203578 ]], dtype=float32),
 array([-0.31393433, -0.15750422,  0.872717  ], dtype=float32)]

In [54]:

# 2nd layer 3 weights and 1 Bias
model.layers[1].get_weights()

[array([[ 0.25552785],
        [-0.3475327 ],
        [-1.2740089 ]], dtype=float32),
 array([-0.63657105], dtype=float32)]

In [60]:
y_log = model.predict(X_test_scaled)

63/63 [==============================] - 0s 884us/step

In [62]:
y_pred = np.where(y_log>0.5,1,0)

In [63]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.7925

# Some Changes

In [64]:
model = Sequential()

# Hideen layer with 11 input
model.add(Dense(11,activation = 'relu',input_dim = 11))
model.add(Dense(11,activation = 'relu'))
model.add(Dense(1,activation = 'sigmoid'))

In [66]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 11)                132

 dense_4 (Dense)             (None, 11)                132

 dense_5 (Dense)             (None, 1)                 12

=================================================================
Total params: 276 (1.08 KB)
Trainable params: 276 (1.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [67]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [69]:
model.fit(X_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
WARNING:tensorflow:From C:\Users\uday.sharma\AppData\Roaming\Python\Python311\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

200/200 [==============================] - 1s 2ms/step - loss: 0.5116 - accuracy: 0.7919 - val_loss: 0.4613 - val_accuracy: 0.8056
Epoch 2/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4400 - accuracy: 0.8147 - val_loss: 0.4315 - val_accuracy: 0.8163
Epoch 3/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4209 - accuracy: 0.8234 - val_loss: 0.4187 - val_accuracy: 0.8194
Epoch 4/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4101 - accuracy: 0.8259 - val_loss: 0.4083 - val_accuracy: 0.8250
Epoch 5/100
200/200 [==============================] - 0s 1ms/step - loss: 0.4002 - accuracy: 0.8325 - val_loss: 0.3980 - val_accuracy: 0.8294
Epoch 6/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3899 - accuracy: 0.8406 - val_loss: 0.3863 - val_accuracy: 0.8344
Epoch 7/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3808 - accuracy: 0.8413 - val_loss: 0.3780 - val_accuracy: 0.8350
Epoch 8/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3728 - accuracy: 0.8467 - val_loss: 0.3712 - val_accuracy: 0.8419
Epoch 9/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3656 - accuracy: 0.8470 - val_loss: 0.3658 - val_accuracy: 0.8419
Epoch 10/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3603 - accuracy: 0.8502 - val_loss: 0.3604 - val_accuracy: 0.8462
Epoch 11/100
200/200 [==============================] - 0s 1000us/step - loss: 0.3554 - accuracy: 0.8523 - val_loss: 0.3563 - val_accuracy: 0.8469
Epoch 12/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3523 - accuracy: 0.8542 - val_loss: 0.3548 - val_accuracy: 0.8444
Epoch 13/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3490 - accuracy: 0.8533 - val_loss: 0.3520 - val_accuracy: 0.8506
Epoch 14/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8570 - val_loss: 0.3525 - val_accuracy: 0.8525
Epoch 15/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8577 - val_loss: 0.3522 - val_accuracy: 0.8469
Epoch 16/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8580 - val_loss: 0.3497 - val_accuracy: 0.8481
Epoch 17/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8600 - val_loss: 0.3489 - val_accuracy: 0.8462
Epoch 18/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8592 - val_loss: 0.3490 - val_accuracy: 0.8487
Epoch 19/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8619 - val_loss: 0.3477 - val_accuracy: 0.8481
Epoch 20/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8608 - val_loss: 0.3504 - val_accuracy: 0.8475
Epoch 21/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8600 - val_loss: 0.3464 - val_accuracy: 0.8512
Epoch 22/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8605 - val_loss: 0.3474 - val_accuracy: 0.8462
Epoch 23/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8620 - val_loss: 0.3454 - val_accuracy: 0.8519
Epoch 24/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8627 - val_loss: 0.3460 - val_accuracy: 0.8481
Epoch 25/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8619 - val_loss: 0.3470 - val_accuracy: 0.8494
Epoch 26/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8630 - val_loss: 0.3454 - val_accuracy: 0.8525
Epoch 27/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8616 - val_loss: 0.3444 - val_accuracy: 0.8531
Epoch 28/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8637 - val_loss: 0.3466 - val_accuracy: 0.8494
Epoch 29/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8639 - val_loss: 0.3443 - val_accuracy: 0.8506
Epoch 30/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8633 - val_loss: 0.3452 - val_accuracy: 0.8494
Epoch 31/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8641 - val_loss: 0.3448 - val_accuracy: 0.8506
Epoch 32/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8637 - val_loss: 0.3452 - val_accuracy: 0.8512
Epoch 33/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8645 - val_loss: 0.3456 - val_accuracy: 0.8544
Epoch 34/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8636 - val_loss: 0.3449 - val_accuracy: 0.8531
Epoch 35/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8644 - val_loss: 0.3448 - val_accuracy: 0.8494
Epoch 36/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8637 - val_loss: 0.3449 - val_accuracy: 0.8537
Epoch 37/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3295 - accuracy: 0.8641 - val_loss: 0.3450 - val_accuracy: 0.8512
Epoch 38/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3291 - accuracy: 0.8650 - val_loss: 0.3456 - val_accuracy: 0.8500
Epoch 39/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.8650 - val_loss: 0.3431 - val_accuracy: 0.8525
Epoch 40/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3285 - accuracy: 0.8642 - val_loss: 0.3472 - val_accuracy: 0.8481
Epoch 41/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3285 - accuracy: 0.8641 - val_loss: 0.3432 - val_accuracy: 0.8569
Epoch 42/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3278 - accuracy: 0.8673 - val_loss: 0.3461 - val_accuracy: 0.8531
Epoch 43/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3278 - accuracy: 0.8655 - val_loss: 0.3441 - val_accuracy: 0.8531
Epoch 44/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3274 - accuracy: 0.8661 - val_loss: 0.3433 - val_accuracy: 0.8544
Epoch 45/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3275 - accuracy: 0.8666 - val_loss: 0.3436 - val_accuracy: 0.8531
Epoch 46/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3273 - accuracy: 0.8645 - val_loss: 0.3443 - val_accuracy: 0.8519
Epoch 47/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3271 - accuracy: 0.8664 - val_loss: 0.3429 - val_accuracy: 0.8544
Epoch 48/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3263 - accuracy: 0.8664 - val_loss: 0.3445 - val_accuracy: 0.8550
Epoch 49/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3270 - accuracy: 0.8678 - val_loss: 0.3437 - val_accuracy: 0.8525
Epoch 50/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3268 - accuracy: 0.8648 - val_loss: 0.3435 - val_accuracy: 0.8531
Epoch 51/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3265 - accuracy: 0.8648 - val_loss: 0.3476 - val_accuracy: 0.8487
Epoch 52/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3259 - accuracy: 0.8658 - val_loss: 0.3431 - val_accuracy: 0.8550
Epoch 53/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3261 - accuracy: 0.8672 - val_loss: 0.3441 - val_accuracy: 0.8519
Epoch 54/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3259 - accuracy: 0.8666 - val_loss: 0.3422 - val_accuracy: 0.8550
Epoch 55/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3253 - accuracy: 0.8659 - val_loss: 0.3433 - val_accuracy: 0.8525
Epoch 56/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3252 - accuracy: 0.8641 - val_loss: 0.3437 - val_accuracy: 0.8512
Epoch 57/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3253 - accuracy: 0.8653 - val_loss: 0.3455 - val_accuracy: 0.8494
Epoch 58/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3247 - accuracy: 0.8652 - val_loss: 0.3446 - val_accuracy: 0.8544
Epoch 59/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3251 - accuracy: 0.8681 - val_loss: 0.3446 - val_accuracy: 0.8519
Epoch 60/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3248 - accuracy: 0.8680 - val_loss: 0.3454 - val_accuracy: 0.8506
Epoch 61/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3250 - accuracy: 0.8669 - val_loss: 0.3443 - val_accuracy: 0.8512
Epoch 62/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3245 - accuracy: 0.8662 - val_loss: 0.3479 - val_accuracy: 0.8525
Epoch 63/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3251 - accuracy: 0.8634 - val_loss: 0.3465 - val_accuracy: 0.8525
Epoch 64/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3248 - accuracy: 0.8667 - val_loss: 0.3463 - val_accuracy: 0.8500
Epoch 65/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3240 - accuracy: 0.8678 - val_loss: 0.3438 - val_accuracy: 0.8531
Epoch 66/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3237 - accuracy: 0.8667 - val_loss: 0.3438 - val_accuracy: 0.8550
Epoch 67/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3242 - accuracy: 0.8675 - val_loss: 0.3436 - val_accuracy: 0.8500
Epoch 68/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3235 - accuracy: 0.8656 - val_loss: 0.3453 - val_accuracy: 0.8512
Epoch 69/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3235 - accuracy: 0.8659 - val_loss: 0.3464 - val_accuracy: 0.8500
Epoch 70/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3236 - accuracy: 0.8667 - val_loss: 0.3467 - val_accuracy: 0.8475
Epoch 71/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3232 - accuracy: 0.8670 - val_loss: 0.3443 - val_accuracy: 0.8550
Epoch 72/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3230 - accuracy: 0.8669 - val_loss: 0.3447 - val_accuracy: 0.8506
Epoch 73/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8680 - val_loss: 0.3452 - val_accuracy: 0.8537
Epoch 74/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8680 - val_loss: 0.3439 - val_accuracy: 0.8531
Epoch 75/100
200/200 [==============================] - 0s 983us/step - loss: 0.3236 - accuracy: 0.8672 - val_loss: 0.3455 - val_accuracy: 0.8512
Epoch 76/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3222 - accuracy: 0.8677 - val_loss: 0.3447 - val_accuracy: 0.8512
Epoch 77/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8659 - val_loss: 0.3466 - val_accuracy: 0.8519
Epoch 78/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3227 - accuracy: 0.8669 - val_loss: 0.3481 - val_accuracy: 0.8519
Epoch 79/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3224 - accuracy: 0.8675 - val_loss: 0.3470 - val_accuracy: 0.8512
Epoch 80/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3219 - accuracy: 0.8687 - val_loss: 0.3451 - val_accuracy: 0.8537
Epoch 81/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3220 - accuracy: 0.8678 - val_loss: 0.3450 - val_accuracy: 0.8531
Epoch 82/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3217 - accuracy: 0.8678 - val_loss: 0.3442 - val_accuracy: 0.8519
Epoch 83/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3221 - accuracy: 0.8677 - val_loss: 0.3451 - val_accuracy: 0.8531
Epoch 84/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3217 - accuracy: 0.8672 - val_loss: 0.3466 - val_accuracy: 0.8544
Epoch 85/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3216 - accuracy: 0.8673 - val_loss: 0.3457 - val_accuracy: 0.8525
Epoch 86/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3218 - accuracy: 0.8670 - val_loss: 0.3447 - val_accuracy: 0.8519
Epoch 87/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8687 - val_loss: 0.3461 - val_accuracy: 0.8519
Epoch 88/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3208 - accuracy: 0.8686 - val_loss: 0.3458 - val_accuracy: 0.8544
Epoch 89/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3209 - accuracy: 0.8662 - val_loss: 0.3460 - val_accuracy: 0.8525
Epoch 90/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8669 - val_loss: 0.3460 - val_accuracy: 0.8525
Epoch 91/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8691 - val_loss: 0.3456 - val_accuracy: 0.8525
Epoch 92/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8684 - val_loss: 0.3440 - val_accuracy: 0.8531
Epoch 93/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3210 - accuracy: 0.8670 - val_loss: 0.3459 - val_accuracy: 0.8544
Epoch 94/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3207 - accuracy: 0.8683 - val_loss: 0.3478 - val_accuracy: 0.8494
Epoch 95/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3211 - accuracy: 0.8677 - val_loss: 0.3457 - val_accuracy: 0.8531
Epoch 96/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3208 - accuracy: 0.8681 - val_loss: 0.3459 - val_accuracy: 0.8525
Epoch 97/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3201 - accuracy: 0.8692 - val_loss: 0.3462 - val_accuracy: 0.8519
Epoch 98/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3201 - accuracy: 0.8695 - val_loss: 0.3449 - val_accuracy: 0.8556
Epoch 99/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3206 - accuracy: 0.8672 - val_loss: 0.3460 - val_accuracy: 0.8519
Epoch 100/100
200/200 [==============================] - 0s 1ms/step - loss: 0.3206 - accuracy: 0.8681 - val_loss: 0.3444 - val_accuracy: 0.8525

In [73]:
y_log = model.predict(X_test_scaled)

63/63 [==============================] - 0s 755us/step

In [74]:
y_pred = np.where(y_log>0.5,1,0)

In [75]:
accuracy_score(y_test,y_pred)

0.867